*{
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
.navBar{
    height: 60px;
    background-color: #060D17;
    display: flex;
    flex-direction: row;
    padding:  0 80px 0 80px ;
    align-items: center;
    justify-content: space-between;
}
.navBar_logo{
    margin-right: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#logo {
    height: 45px;
}
#logoTitle {
    height: 24px;
}
.navBar_container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navBar_Search{
    background-color: #1C252F;
    height: 40px;
    width: 720px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin:  0 20px 0 20px ;

}
.navBar_Search img{
    background-color: #1C252F;
    height: 18px;
    width: 20px;
    margin: 0px 10px 0px 10px;
}
.navBar_Search input{
    background-color: #1C252F;
    height: 100%;
    width: 100%;
    border: none;
    padding: 5px;
    font-size: 20px;
    border-radius: 0px 8px 8px 0px;
    
}
.navBar_login button{
    background-color: #1C252F;
    height: 40px;
    width: 220px;
    border-radius: 8px;
    font-size: 20px;
    color: #fff;
    border: none;
    margin:  0 20px 0 20px ;
}
.menuList{
    background-color: #060D17;
}
.btn{
    border: none
;
}
.navBar_menu img{
    height: 28px;
    align-items: center

}
.neews_Container {
    height: 600px;
    background: url("../images/poor-things-estreno.png");
	background-position: center;
	background-attachment:fixed;
	background-size: cover;
    display: flex;
    align-content: center;
  }
  
  #neews_ContainerImage {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
  }
  
  
.neews_ContainerTitle {
font-size: 40px;
  color: #FFF;
  margin: 40px;
}
  
.neews_ContainerTitle {
    display: flex;
    flex-direction: row;
    color: #fff;
    text-align: center;
    align-items: center;
    justify-content: left;
    width: 100%;
}
.neews_ContainerTitle h2{
    font-size: 36px;
    margin: 20px;
}
.neews_ContainerTitle img{
    height: 120px;
   
}
.filter_Container{
    background-color: #1C252F;
    height: 60px;
    display: flex;
    flex-direction: row;
    padding:  0 80px 0 80px ;
    justify-content: space-between;
    align-items: center;
}
.filter_ContainerButtons{
    display: flex;
    flex-direction: row;
}
.filter_ContainerButtons button{
    background-color: #1C252F;
    width: 200px;
    border: none;
    height:100% ;
    font-size: 24px;
    color: #fff;

}

.menuListFilter{
    background-color: #1C252F;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}
.menuListFilter p{
    margin: 0 ;

}
#card_Container{
    background-color: #060D17;
    padding:40px ;
    width: 100%;

    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
/*
.card_movies{
    background-color: #1C252F;
    margin: 20px 40px 20px 40px;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    transition: 0.5s;
    height: 570px;
}
.card_movies:hover{
    scale: 1.1;
    opacity: 80%;

}
.card_movies img {
    height: 500px;
    border-radius: 10px 10px 0px 0px;
    width: 320px;
}

.card_movies a {
    height: 70px;
    font-size: 22px;
    color: #fff;
    width: 90%;
    text-align: center;
    text-decoration: none;
}
.card_movies p{
    font-size: 22px;
    color: #1C252F;
    background: #FFF;
    border-radius: 50%;
    padding: 8px;
    margin-top: 20px;
}
.card_movies h6{
    font-size: 18px;
    color: #fff;
    margin: 4px 0 4px 0;

}
.card_list{
    opacity: 0;
    font-size: 16px;
    color: #fff;
    position: relative;
    bottom: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
    padding: 20px;
    background-color: #1C252F;

}
*/
/**/


.card_movies {
    background-color: #1C252F;
    width: 320px;
    height: 570px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    position: relative;
    border-radius: 10px;
    margin: 20px 40px 20px 40px;
  }
  
  .card_img {
    text-align: center;
    width: 100%;
    position: absolute;
    color: black;
    font-weight: bold;
  }
  .card_img img {
    width: 100%;
    height: 500px;
    border-radius: 10px 10px 0px 0px;
  }
  
  .card_listContent  p {
    font-size: 22px;
    color: #fff;
    padding: 8px;
    margin-top: 20px;
  }
  .card_listContent  h6 {
    font-size: 16px;
    color:#FFF;
    border-radius: 50%;
    padding: 8px;
    margin-top: 40px;
  }
  
  .card_list  a {
    font-weight: bold;
    font-size: 22px;
    color:#FFF;
    border-radius: 50%;
    padding: 8px;
    margin-top: 20px;
    width: 120px;
  }
  
  .card_list {
    color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-color: #1C252F;
    position: absolute;
    bottom: 0;
    height: 100px;
    transition: height .5s ease-in-out;
    padding: 0.6em;
    overflow: hidden;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
    width: 100%;
    padding-top: 20px;
  }
  
  .card_movies:hover > .card_list {
    height: 32em;
  }
  .card_listIcon{
    width: 32px;
    margin-right: 20px;
    background: url('../images/estrella.png') no-repeat;
  }
/*
.card_list:hover {
    opacity: 1;
    background-color: #1C252F;
}
*/
.container_pages{
    background-color: #060D17;
    color: #fff;
    padding: 80px;
}
.container_pages2{
    background-color: #060D17;
    color: #fff;
    padding: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.container_pages h4{
    font-size: 40px;
}
.container_pages img{
    width: 1200px;
    border-radius: 10px;
}
.container_pages p{
    font-size: 24px;
}
.container_pagesSections h6{
    font-size: 18px;
    margin: 6px;
}
.container_pagesSections h5{
    font-size: 32px;
    margin: 6px;
}
.container_pagesSections{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card{
    margin: 40px;
    width: 50rem;
    height: 55rem;
}
.card-imgContainer{
    height: 50rem;
    display: flex;
    align-items: center;
}


.card-text{
    text-align: center;
    font-size: 26px;
}
.card:hover{
    scale: 1.2;
}
.container_pages3{
    background-color: #060D17;
    color: #fff;
    padding: 200px 360px;
    height: 100rem;
}
.form-label{
    font-size: 24px;
}

.container_pages3 h4 {
    font-size: 40px;
    text-align: center;
}
.mb-3{
    margin: 20px 0;
}
.btnMovies{
    font-size: 20px;
    width: 400px;
    margin: 60px 60px 60px 0;
    font-size: 24px;
}
.btnMovies2{
    font-size: 20px;
    width: 400px;
    margin: 60px 0px 60px 0;
    font-size: 24px;
}
.btnSubmit{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.form-control{
    height: 52px;
    font-size: 20px;
}
.container_construccion{
    background-image: url("../images/en-construccion.jpg");
    background-size:cover;
    display: grid;
}
.container_construccionDescription{
    align-self: center;
    justify-self: center;
    text-align: center;
    background-color: #1C252F;
    border-radius: 20px;
    color: #fff;
    padding: 20px;
}
.container_construccionDescription:hover{
    scale: 1.2;
}
.container_construccionDescription h1{

    font-size: 42px;
}
.container_construccionDescription p{
    color: #fff;
    font-size: 24px;
}